.DS_Store
__pycache__/
艺人热门作品JSON样本.json
艺人信息JSON样本.json
歌曲数据JSON样本.json
歌单数据JSON样本.json
cookie.txt
歌单API数据样本(付费).json
歌曲API数据样本(免费).json
歌曲API数据样本(付费).json
歌曲API数据样本(免费)01.json
歌曲API数据样本(免费)02.json
测试下载/
测试(读取元数据).py
测试(清除元数据).py
测试(添加元数据).py
JSON外放.json
